<h1>Article post #<%= @article.id %></h1>

<h2><%= @article.title %></h2>

<h4><%= @article.description %></h4>

<p>
  <%= link_to 'Edit', edit_article_path(@article)%> |
  <%= link_to 'Back to index', articles_path%> |
  <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}%></td>

</p>
